/*.coloured-header textarea.textstring.orange {
    background-color: #e25900;
}

.coloured-header textarea.textstring.orange-light {
    background-color: #fe8435;
}

.coloured-header textarea.textstring.ochre {
    background-color: #ef9f05;
}

.coloured-header textarea.textstring.yellow {
    background-color: #efb005;
}*/

.header-coloured {
    padding: 15px 15px 15px 15px;
    border-radius: 15px;
}

.tabbed-rte .nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

    .tabbed-rte .nav li a{
        padding: 20px 5px 20px 5px;
        border-radius: 0;
        border-bottom: 5px solid brown;
        color: brown;
        background-color: transparent;
    }