@inherits UmbracoTemplatePage
@{
    // Model.Content is the current page that we're on
    // AncestorsOrSelf is all of the ancestors this page has in the tree
    // (1) means: go up to level 1 and stop looking for more ancestors when you get there
    // First() gets the first ancestor found (the home page, on level 1)
    var homePage = Model.Content.AncestorOrSelf(1);
    var transformStyle = Utils.GetRandomRotateStyle(-1.5, 1.5);
}

<nav class="header-nav navbar navbar-default" style="@transformStyle">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle pull-left collapsed" data-toggle="collapse" data-target="#navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <div class="navbar-collapse collapse" id="navigation">
        <ul class="nav navbar-nav">
            @*@CommonHelpers.SimpleMenuItem(homePage, CurrentPage)*@
            @{
                var dict = new ViewDataDictionary(ViewData) { { "menuItem", homePage } };
                Html.RenderPartial("~/Views/Partials/Navigation/NavigationList.cshtml", dict);
            }
        </ul>
    </div>

    <div class="navbar-vline hidden-xs hidden-sm"></div>
</nav>