@inherits UmbracoTemplatePage<NewsItem>
@{
    Layout = "ContentBase.cshtml";

    var item = Model.Content;
    var password = Request.QueryString[Consts.NewsConfig.PasswordQueryString];
}

@section RightSidebar
{
}

@section Body
{
    @if (string.IsNullOrEmpty(item.Password) || password == item.Password)
    {
        <article class="news-item-container">
            @{ Html.RenderPartial("/Views/Partials/Common/PageTitle.cshtml"); }
            @{ Html.RenderPartial("/Views/Partials/Common/GridContent.cshtml"); }
            @{ Html.RenderPartial("~/Views/Partials/Common/Comments.cshtml"); }
        </article>
    }
    else
    {
        <div class="grid-content">
            <p>Sorry, this article is hidden from your all-seeing eye:Р</p>
        </div>
    }
}
