@inherits UmbracoTemplatePage<TextPage>
@{
    Layout = "ContentBase.cshtml";

    var item = Model.Content;
}

@section RightSidebar
{
}

@section Body
{
    <div class="text-page-container">
        @{ Html.RenderPartial("/Views/Partials/Common/PageTitle.cshtml"); }
        <div class="grid-content">
            @Html.GetGridHtml(item, TextPage.GetModelPropertyType(i => i.Content).PropertyTypeAlias, "Custom")
        </div>
    </div>
}