@inherits UmbracoTemplatePage
@{
    var transformStyle = Utils.GetRandomRotateStyle(-90, 90);
}
<a class="main-logo" style="@transformStyle" href="/">
    <img src="/Css/images/warning.png" alt="" />
</a>